<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Trivia App</title>

   <link rel="shortcut icon" href="img/favicon-chat.png" />
   <!-- Import Google Fonts -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,700" rel="stylesheet">
   <!-- Import materialize.css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <!-- Import custom css -->
   <link rel="stylesheet" href="css/style.css">

   <style>
      [v-cloak] {
         display: none;
      }
   </style>
</head>

<body>
   <div id="trivia-app">
      <div class="row">

         <!-- users column -->
         <div class="col s3">

            <!-- me component -->
            <me-component v-bind:me="me"></me-component>

            <!-- active users component-->
            <users-component v-show="loggedIn" v-bind:users="users"></users-component>

            <!-- start user join -->
            <div class="user-login" v-show="!loggedIn">
               <input v-model="userName" placeholder="name" type="text" class="u-full-width">
               <input v-model="password" placeholder="password" type="password" class="u-full-width">
               <button v-on:click="joinUser" :disabled="!userName" class="btn-small waves-effect waves-light" type="submit">
                  Login
               </button>

               <button v-on:click="signupUser" :disabled="!userName" class="btn-small waves-effect waves-light" type="submit">
                  Sign Up
               </button>

               <div class="failed" v-show='failedName'>
                    <p>Username '{{failedName}}' doesn't exists or is logged in!</p>
                </div>
            </div>
            <!-- end user join -->
         </div>

         <!-- trivia column-->
         <div class="col s8" v-show="loggedIn">
            <!-- Textfields to add a question to database-->

            <div class="row" v-show="addTrivia">
                <div class="column">
                    <h6 align="center">Add a question</h6>
                    <hr>
                    <input v-model="question" placeholder="question" type="text" class="u-full-width">
                    <input v-model="possibleAnswer1" placeholder="possible answer #1" type="text" class="u-full-width">
                    <input v-model="possibleAnswer2" placeholder="possible answer #2" type="text" class="u-full-width">
                    <input v-model="possibleAnswer3" placeholder="possible answer #3" type="text" class="u-full-width">
                    <input v-model="correctAnswer" placeholder="correct answer (has to be one of the possible answers)" type="text" class="u-full-width">
                    <input v-model="points" placeholder="points" type="text" class="u-full-width">
                    <button v-on:click="submitQuestion" class="block" type="submit">Add</button> <p class = "failed" v-show="failedAddQuestion">Correct answer must be one of the possible answers, or points must be a number!</p>
                </div>
    
                <div class="column"> 
                    <h6 align="center">Questions in Database ({{listOfQuestions.length}})</h6>
                    <hr>
                    <ul v-for="obj in listOfQuestions">
                        <li>
                            <p>{{obj.question}} <button v-on:click="deleteQuestion(obj.question)" class="delete" type="submit">Delete</button></p>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
            <div v-show="addTrivia">
                <button v-on:click="toggle()" type="submit">Play Game</button> 
            </div>
           
            <div class="trivia-box" v-show="!addTrivia">
                <h6 align="center">{{questionObj.question}}</h6>
                <hr>
                <ul v-for="answer in questionObj.possibleAnswers">
                    <button v-on:click="submitQuestion(answer)" class="btn-small waves-effect waves-light" type="submit">{{answer}}</button>
                </ul>
                <button v-on:click="toggle()" type="submit">Add Question</button> 
            </div>

            <!-- trivia -->
            <!-- <trivia-component v-bind:questionObj="questionObj"></trivia-component> -->

         </div>

      </div>
   </div>

   <script type="text/javascript" src="https://unpkg.com/vue@2.5.15/dist/vue.min.js"></script>
   <script type="text/javascript" src="https://unpkg.com/socket.io-client@2.1.0/dist/socket.io.js"></script>
   <script type="text/javascript" src="app.js"></script>
</body>

</html>